<div class="ui card" id="{{extMethod.methodName}}">
    <div class="uicontent">
        <div class="uiheader">{{extMethod.methodName}}
            <span class="right floated">
                <a class="uisummary" href="{{extMethod.gitLink}}"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a>
                <a class="uisummary" href="{{extMethod.extensionLink}}"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a>
            </span>
        </div>
        <div class="uimeta">
            {{extMethod.description}}
        </div>
    </div>
    <div class="uicontent">
        <div class="ui image">
            <img  [style.width]="size" src="{{extMethod.ploturl}}">
        </div>         
        <div class="uidescription" *ngFor="let s of extMethod.samples">
            <extensionMethodSample [methodSample]="s"></extensionMethodSample>
        </div>
    </div>
    <div class="extra uimeta">
        <span class="right floated">
            <a pageScroll class="uisummary" href="#main"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a>
        </span>
    </div>
</div>
<br/>