<aside>
    <p>
        Python
    </p>
</aside>

<div class="card ui card">
    <div class="uicontent">
        <div class="right floated meta">
            <a href="https://github.com/harip/python_visualizations"><i class="fa fa-git fa-lg" aria-hidden="true"></i></a>
        </div>
        <i class="fa fa-table fa-lg" aria-hidden="true"></i> Data
    </div>
    <div class="uicontent">
        <div class="extensionBlock">
            <div class="ui fluid image">
                <img style="width: 290px;" src="https://res.cloudinary.com/harip/image/upload/r_6/v1520663842/site/python/averagecurve.png">
            </div>  
        </div>
    </div>
    <div class="extra content">
        <a href="https://res.cloudinary.com/harip/raw/upload/v1520830685/timeseries.csv"><i class="fa fa-download fa-lg" aria-hidden="true"></i> Download</a>
    </div>
</div>

<div class="card ui card" *ngFor="let nData of pythonData">
    <div class="uicontent">
        {{nData.title}}
    </div>
    <div class="uicontent">
    <div class="ui image">
        <img style="width: 290px;" src="{{nData.ploturl}}">
    </div> 
    <codemirror [(ngModel)]="nData.code"[config]="config"></codemirror> 
    </div>
</div>