<div id="main">
    <div class="header">
        <h1>SimpleBlackboardConnect</h1>
        <p>
            <a href="home"><i class="fa fa-home" aria-hidden="true"  style="padding-right: 20px;"></i></a>
            <a href="https://www.nuget.org/packages/SimpleBlackboardConnect/">Nuget</a>
        </p>
    </div>
    <div class="content">
        <div *ngFor="let package of pData">
            {{package.packageDescription}}
            <div *ngFor="let data of package.packageData">
                <h2 class="content-subhead extensionMethod">
                    <span class="extensionMethodName">{{data.methodName}}</span>
                </h2>
                <div *ngFor="let sample of data.samples">
                    <extensionMethodSample [methodSample]="sample"></extensionMethodSample>
                </div>
            </div>

        </div>
    </div>
</div>