/*! CSS Used from: https://semantic-ui.com/dist/semantic.min.css */
*,:after,:before{-webkit-box-sizing:inherit;box-sizing:inherit;}
a{background-color:transparent;-webkit-text-decoration-skip:objects;}
a{color:#4183c4;text-decoration:none;}
a:hover{color:#1e70bf;text-decoration:none;}
::-webkit-selection{background-color:#cce2ff;color:rgba(0,0,0,.87);}
::-moz-selection{background-color:#cce2ff;color:rgba(0,0,0,.87);}
::selection{background-color:#cce2ff;color:rgba(0,0,0,.87);}
.ui.menu{display:-webkit-box;display:-ms-flexbox;display:flex;margin:1rem 0;font-family:Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;background:#fff;font-weight:400;border:1px solid rgba(34,36,38,.15);-webkit-box-shadow:0 1px 2px 0 rgba(34,36,38,.15);box-shadow:0 1px 2px 0 rgba(34,36,38,.15);border-radius:.28571429rem;min-height:2.85714286em;}
.ui.menu:after{content:'';display:block;height:0;clear:both;visibility:hidden;}
.ui.menu:last-child{margin-bottom:0;}
.ui.menu .menu{margin:0;}
.ui.menu .item{position:relative;vertical-align:middle;line-height:1;text-decoration:none;-webkit-tap-highlight-color:transparent;-webkit-box-flex:0;-ms-flex:0 0 auto;flex:0 0 auto;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background:0 0;padding:.92857143em 1.14285714em;text-transform:none;color:rgba(0,0,0,.87);font-weight:400;-webkit-transition:background .1s ease,color .1s ease,-webkit-box-shadow .1s ease;transition:background .1s ease,color .1s ease,-webkit-box-shadow .1s ease;transition:background .1s ease,box-shadow .1s ease,color .1s ease;transition:background .1s ease,box-shadow .1s ease,color .1s ease,-webkit-box-shadow .1s ease;}
.ui.menu>.item:first-child{border-radius:.28571429rem 0 0 .28571429rem;}
.ui.menu .item:before{position:absolute;content:'';top:0;right:0;height:100%;width:1px;background:rgba(34,36,38,.1);}
.ui.vertical.menu .item>.header:not(.ui){margin:0 0 .5em;font-size:1em;font-weight:700;}
.ui.menu a{
    cursor:pointer;
    background:rgba(0,0,0,.03);
    color:red
}
.ui.menu a.item:active{background:rgba(0,0,0,.03);color:rgba(0,0,0,.95);}
.ui.vertical.menu{
    display:block;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    background:#fff;
    -webkit-box-shadow:0 1px 2px 0 rgba(34,36,38,.15);
    box-shadow:0 1px 2px 0 rgba(34,36,38,.15);
    overflow-y: auto;
}
.ui.vertical.menu .item{display:block;background:0 0;border-top:none;border-right:none;}
.ui.vertical.menu>.item:first-child{border-radius:.28571429rem .28571429rem 0 0;}
.ui.vertical.menu>.item:last-child{border-radius:0 0 .28571429rem .28571429rem;}
.ui.vertical.menu .item:before{position:absolute;content:'';top:0;left:0;width:100%;height:1px;background:rgba(34,36,38,.1);}
.ui.vertical.menu .item:first-child:before{display:none!important;}
.ui.vertical.menu .item>.menu{margin:.5em -1.14285714em 0;}
.ui.vertical.menu .menu .item{background:0 0;padding:.5em 1.33333333em;font-size:.85714286em;color:rgba(0,0,0,.5);}
.ui.vertical.menu .item .menu a:hover{color:red;}
.ui.vertical.menu .menu .item:before{display:none;}

.ui.vertical.menu > a{
    color:red;
}

.uimenuheader:not(.ui){
    margin:0 0 .5em;
    font-size:1em;
    font-weight:700;
}

.ui.menu{font-size:1rem;}
.ui.vertical.menu{width:213px;}
/*! CSS Used fontfaces */
@font-face{font-family:'Lato';font-style:italic;font-weight:400;src:local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v14/S6u8w4BMUTPHjxsAUi-qJCY.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Lato';font-style:italic;font-weight:400;src:local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v14/S6u8w4BMUTPHjxsAXC-q.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Lato';font-style:italic;font-weight:700;src:local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v14/S6u_w4BMUTPHjxsI5wq_FQft1dw.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Lato';font-style:italic;font-weight:700;src:local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v14/S6u_w4BMUTPHjxsI5wq_Gwft.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Lato';font-style:normal;font-weight:400;src:local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Lato';font-style:normal;font-weight:400;src:local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Lato';font-style:normal;font-weight:700;src:local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Lato';font-style:normal;font-weight:700;src:local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Lato';src:url(https://semantic-ui.com/fonts/lato/Lato-Regular.woff2) format('woff2');font-style:normal;font-weight:normal;}
@font-face{font-family:'Lato';src:url(https://semantic-ui.com/fonts/lato/Lato-Italic.woff2) format('woff2');font-style:italic;font-weight:normal;}
@font-face{font-family:'Lato';src:url(https://semantic-ui.com/fonts/lato/Lato-Bold.woff2) format('woff2');font-style:normal;font-weight:700;}
@font-face{font-family:'Lato';src:url(https://semantic-ui.com/fonts/lato/Lato-BoldItalic.woff2) format('woff2');font-style:italic;font-weight:700;}