<a id="menuLink" class="{{clickClass}}" (click)="menuLinkClick()">
    <!-- Hamburger icon -->
    <span></span>
</a>
<div id="menu">
    <div class="pure-menu">
        <a [routerLink]="['/home']" (click)='menuItemClick()' class="pure-menu-heading"><i class="fa fa-list" aria-hidden="true"></i> nuget</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item" routerLinkActive="active">
                <a [routerLink]="['/printclassinstance']" (click)='menuItemClick()' class="pure-menu-link">ObjectExtensions</a>
            </li>
            <li class="pure-menu-item">
                <a [routerLink]="['/simplesalesforceconnect']" (click)='menuItemClick()' class="pure-menu-link">SimpleSalesforceConnect</a>
            </li>
            <li class="pure-menu-item">
                <a [routerLink]="['/apiauthenticate']" (click)='menuItemClick()' class="pure-menu-link">ApiAuthenticate</a>
            </li>
            <li class="pure-menu-item">
                <a [routerLink]="['/simpleblackboardconnect']" (click)='menuItemClick()' class="pure-menu-link">SimpleBlackboardConnect</a>
            </li>
            <li class="pure-menu-item">
                <a [routerLink]="['/assemblyextension']" (click)='menuItemClick()' class="pure-menu-link">AssemblyExtensions </a>
            </li>
        </ul>

        <a [routerLink]="['/npmhome']" (click)='menuItemClick()' class="pure-menu-heading"><i class="fa fa-list" aria-hidden="true"></i > npm</a>
    </div>
</div>