<a href="#menu" id="menuLink" class="menu-link">
    <!-- Hamburger icon -->
    <span>{{name}}</span>
</a>
<div id="menu">
    <div class="pure-menu">
        <span class="pure-menu-heading">NuGet</span>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="printclassinstance" class="pure-menu-link">ObjectExtensions</a></li>
            <li class="pure-menu-item"><a href="SimpleSalesforceConnect" class="pure-menu-link">SimpleSalesforceConnect</a></li>
            <li class="pure-menu-item"><a href="apiauthenticate" class="pure-menu-link">ApiAuthenticate</a></li>
            <li class="pure-menu-item"><a href="simpleblackboardconnect" class="pure-menu-link">SimpleBlackboardConnect</a></li>
            <li class="pure-menu-item"><a href="assemblyextension" class="pure-menu-link">AssemblyExtensions </a></li>
        </ul>
    </div>
</div>