<aside>
    <p>
        Bottle Gourd in Tangy Mixed Veggie Gravy
        <br/> Yeild: 6 Servings
    </p>
</aside>

<div class="card ui card">
    <div class="image">
        <img src="/site/assets/recipes/SorakayMixedVeggie/s1.jpg">
    </div>
    <div class="uicontent">
        INGREDIENTS
        <div class="uimeta">
            <table class="pure-table" style="border:none;">
                <tbody>
                    <tr>
                        <td style="border:none;">
                            <ul class="ui list">
                                <li>1/4 cup butternut squash</li>
                                <li>1/4 cup broccoli</li>
                                <li>1/2 cilantro</li>
                                <li>1 cup raw mango</li>
                                <li>1/4 garlic leaves</li>
                            </ul>
                        </td>
                        <td style="border:none;">
                            <ul class="ui list">
                                <li>3 cups bottlegourd</li>
                                <li>1 cup spinach</li>
                                <li>1 cup carrot</li>
                                <li>1 inch ginger</li>
                                <li>green chillies</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card ui card">
    <div class="image">
        <img src="/site/assets/recipes/SorakayMixedVeggie/s2.jpg">
    </div>
    <div class="uicontent">
        DRY ROAST INGREDIENTS
        <div class="uimeta">
            <table class="pure-table" style="border:none;">
                <tbody>
                    <tr>
                        <td style="border:none;">
                            <ul class="ui list">
                                <li>Dry red chillies</li>
                                <li>1/4 cup cashews</li>
                                <li>1/4 tsp turmeric</li>
                                <li>1/2 tsp fennel seeds</li>
                                <li>1/2 tsp channa dal</li>
                            </ul>
                        </td>
                        <td style="border:none;">
                            <ul class="ui list">
                                <li>1/2 tsp urad dal</li>
                                <li>1/2 cup coconut</li>
                                <li>1 tbsp coriander seeds</li>
                                <li>1/2 tsp cumin seeds</li>
                                <li>1/4 tsp</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="card ui card">
    <div class="image">
        <img src="/site/assets/recipes/SorakayMixedVeggie/s3.jpg">
    </div>
    <div class="uicontent">
        <ul class="ui list">
            <li>Grind all the spices into coarse paste</li>
            <li>Grid all veggies and green EXCEPT bottlegourd</li>
            <li>Add 1 tsp oil in a pan and mix both pastes with bottlegourd. Let it cook for 30 mins on a medium flame with lid and stir occasionally</li>
        </ul>
    </div>
</div>

<div class="card ui card">
    <div class="image">
        <img src="/site/assets/recipes/SorakayMixedVeggie/s4.jpg">
    </div>
    <div class="uicontent">
        Tangy bottle gourd curry with mixed veggie gravy is ready!
    </div>
</div>