<div id="main">
    <div class="header">
        <aside>
            <h1>SimpleSalesforceConnect</h1>
        </aside>
        <p>
            <a href="https://www.nuget.org/packages/SimpleSalesforceConnect/">Nuget</a>
        </p>
    </div>
    <div class="content">
        <div *ngFor="let package of pData">
            {{package.packageDescription}}
            <div *ngFor="let data of package.packageData">
                <h2 class="extensionMethod">
                    {{data.methodName}}
                </h2>
                <div *ngFor="let sample of data.samples">
                    <extensionMethodSample [methodSample]="sample"></extensionMethodSample>
                </div>
            </div>

        </div>
    </div>
</div>