<div id="main">
    <div class="header">
        <aside>
            <h1>AssemblyExtensions</h1>
        </aside>
        <p>
            <a href="home"><i class="fa fa-home" aria-hidden="true"  style="padding-right: 20px;"></i></a>
            <a href="https://www.nuget.org/packages/AssemblyExtensions">Nuget</a>
            <a href="https://bitbucket.org/igress/assemblyextensions" style="padding-left: 20px;">Source Code</a>
        </p>
    </div>
    <div class="content">
        <div *ngFor="let package of pData">
            {{package.packageDescription}}
            <div *ngFor="let data of package.packageData">
                <h2 class="extensionMethod">
                    {{data.methodName}}
                </h2>
                <div *ngFor="let sample of data.samples">
                    <extensionMethodSample [methodSample]="sample"></extensionMethodSample>
                </div>
            </div>

        </div>
    </div>
</div>