<div id="main">
    <div class="header">
        <h1>AssemblyExtensions</h1>
        <p>
            <a href="https://www.nuget.org/packages/AssemblyExtensions">Nuget</a>
            <a href="https://bitbucket.org/igress/assemblyextensions" style="padding-left: 20px;">Source Code</a>
        </p>
    </div>
    <div class="content">
        <div *ngFor="let package of pData">
            {{package.packageDescription}}
            <p></p>
            <div *ngFor="let data of package.packageData">
                <h2 class="content-subhead extensionMethod">
                    <span class="extensionMethodName">{{data.methodName}}</span>
                </h2>
                <div *ngFor="let sample of data.samples">
                    <extensionMethodSample [methodSample]="sample"></extensionMethodSample>
                </div>
            </div>

        </div>
    </div>
</div>