<aside>
    <p>
        nuget
    </p>
</aside>

<div style="padding-left: 20px;" class="ui raised cards">
    <div class="card thumbCardSize" *ngFor="let nData of nugetData">
        <div class="uicontent">
            <a class="uiheader" href="#" [routerLink]="['/' + nData.packageId]">
                {{nData.title}}
            </a>
            <div class="uimeta">
                {{nData.description}}
            </div>
        </div>
        <div class="extra uimeta">
            <app-nugetstats packageId="{{nData.packageId}}">Getting Nuget Stats</app-nugetstats>
        </div>
    </div>
</div>

<aside>
    <p>
        npm
    </p>
</aside>

<div class="card ui card" *ngFor="let nData of npmData">
    <div class="uicontent">
        <div class="right floated meta">
            <a href="{{nData.git}}"><i class="fa fa-git fa-lg" aria-hidden="true"></i></a>
        </div>
        <a class="uiheader" href="{{nData.npmLink}}"><i class="fa fa-external-link fa-lg" aria-hidden="true"></i> nuget.getstats</a>
        <div class="uimeta">
            {{nData.description}}
        </div>
    </div>
    <div class="uicontent">
        <div class="extensionBlock">
            <p>
                Usage
            </p>
            <pre class="codePre"><code class="javascript hljs codeFont">{{nData.usage}}</code></pre>

            <p>
                Output
            </p>
            <pre class="codePre"><code class="json hljs codeFont">{{nData.output}}</code></pre>
        </div>
    </div>
</div>