<aside>
    <p>
        Nuget Packages
    </p>
</aside>

<div style="padding-left: 20px;" class="ui raised cards">

    <div class="card thumbCardSize">

        <div class="uicontent">
            <a class="uiheader" href="printclassinstance">
                ObjectExtensions
            </a>
            <div class="uimeta">
                Extension methods to get object or type information.
            </div>
        </div>
        <div class="extra uimeta">
            <span class="right floated">
                4.6, .NETStandard 1.6
            </span>
        </div>
    </div>

    <div class="card thumbCardSize">
        <div class="image">
        </div>
        <div class="uicontent">
            <a class="uiheader" href="assemblyextension">Assembly Extensions</a>
            <div class="uimeta">
                Get metadata for an assembly.
            </div>
        </div>
        <div class="extra uimeta">
            <span class="right floated">
                .NETStandard 1.6
            </span>
        </div>
    </div>

    <div class="card thumbCardSize">
        <div class="image">
        </div>
        <div class="uicontent">
            <a class="uiheader" href="simplesalesforceconnect">SimpleSalesforceConnect</a>
            <div class="uimeta">
                Connect to Salesforce,download logs,upload logs to S3.
            </div>
        </div>
        <div class="extra uimeta">
            <span class="right floated">
                .NETStandard 1.6
            </span>
        </div>
    </div>

    <div class="card thumbCardSize">
        <div class="image">
        </div>
        <div class="uicontent">
            <a class="uiheader" href="simpleblackboardconnect">SimpleBlackboardConnect</a>
            <div class="uimeta">
                Connect to BlackBoard and get access token.
            </div>
        </div>
        <div class="extra uimeta">
            <span class="right floated">
                .NETStandard 1.6
            </span>
        </div>
    </div>

    <div class="card thumbCardSize">
        <div class="image">
        </div>
        <div class="uicontent">
            <a class="uiheader" href="apiauthenticate">ApiAuthenticate</a>
            <div class="uimeta">
                HttpClient wrapper. Connect to Salesforce, Blackboard and Aws.
            </div>
        </div>
        <div class="extra uimeta">
            <span class="right floated">
                .NETStandard 1.6
            </span>
        </div>
    </div>
</div>