<aside>
    <p>
        Nuget Packages
    </p>
</aside>

<div style="padding-left: 20px;" class="ui raised cards">

    <div class="card thumbCardSize">

        <div class="uicontent">
            <a class="uiheader" [routerLink]="['/printclassinstance']">
                ObjectExtensions
            </a>
            <div class="uimeta">
                Extension methods to get object or type information.
            </div>
        </div>
        <div class="extra uimeta">
            <app-nugetstats packageId="printclassinstance">Getting Nuget Stats</app-nugetstats>
        </div>
    </div>

    <div class="card thumbCardSize">
        <div class="image">
        </div>
        <div class="uicontent">
            <a class="uiheader" [routerLink]="['/assemblyextension']">Assembly Extensions</a>
            <div class="uimeta">
                Get metadata for an assembly.
            </div>
        </div>
        <div class="extra uimeta">
            <app-nugetstats packageId="AssemblyExtensions"></app-nugetstats>
        </div>
    </div>

    <div class="card thumbCardSize">
        <div class="image">
        </div>
        <div class="uicontent">
            <a class="uiheader" [routerLink]="['/simplesalesforceconnect']">SimpleSalesforceConnect</a>
            <div class="uimeta">
                Connect to Salesforce,download logs,upload logs to S3.
            </div>
        </div>
        <div class="extra uimeta">
            <app-nugetstats packageId="simplesalesforceconnect"></app-nugetstats>
        </div>
    </div>

    <div class="card thumbCardSize">
        <div class="image">
        </div>
        <div class="uicontent">
            <a class="uiheader" [routerLink]="['/simpleblackboardconnect']">SimpleBlackboardConnect</a>
            <div class="uimeta">
                Connect to BlackBoard and get access token.
            </div>
        </div>
        <div class="extra uimeta">
            <app-nugetstats packageId="simpleblackboardconnect"></app-nugetstats>
        </div>
    </div>

    <div class="card thumbCardSize">
        <div class="image">
        </div>
        <div class="uicontent">
            <a class="uiheader" [routerLink]="['/apiauthenticate']">ApiAuthenticate</a>
            <div class="uimeta">
                HttpClient wrapper. Connect to Salesforce, Blackboard and Aws.
            </div>
        </div>
        <div class="extra uimeta">
            <app-nugetstats packageId="apiauthenticate"></app-nugetstats>
        </div>
    </div>
</div>